<body>
<main>
  <ngx-nav></ngx-nav>
  <section class="abt-01">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="_head_01">
            <h2>About Us</h2>
            <p>Home<i class="fal fa-angle-double-right"></i><span>About Us</span></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--  ************************* About Us Starts Here ************************** -->

  <div class="about-us container-fluid">
    <div class="container">

      <div class="row natur-row no-margin w-100">
        <div class="text-part col-md-6">
          <h2>About Bursary X</h2>
          <p>
           This is an application that allows students to apply for a bursary from any part of the country to
          their own convenience. Simply create an account and apply. You can also track your application to
          know the status. That way without the hustle of going into offices around the country you can do it via phone
          or and device connected to the internet.</p>
        </div>
        <div class="image-part col-md-6">
          <img src="assets/images/about.jpg" alt="">
        </div>
      </div>
    </div>
  </div>




<!--  <section class="bg-03">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-lg-3 col-md-4 col-sm-6 col-6">-->
<!--          <div class="_lk_bg_cd">-->
<!--            <div class="counting" data-count="1000">90</div>-->
<!--            <h5>TEACHERS</h5>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-lg-3 col-md-4 col-sm-6 col-6">-->
<!--          <div class="_lk_bg_cd">-->
<!--            <div class="counting" data-count="1000">67</div>-->
<!--            <h5>COURSES</h5>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-lg-3 col-md-4 col-sm-6 col-6">-->
<!--          <div class="_lk_bg_cd">-->
<!--            <div class="counting" data-count="1000">80</div>-->
<!--            <h5>LESSONS</h5>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-lg-3 col-md-4 col-sm-6 col-6">-->
<!--          <div class="_lk_bg_cd">-->
<!--            <div class="counting" data-count="1000">100</div>-->
<!--            <h5>ACTIVITIES</h5>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->

  <section class="bg-04-a">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading">
            <h2>OUR TEAM</h2>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 sm-6 col-12">
          <div class="team-main">
            <div class="img">
              <img src="assets/images/team/1.png">
            </div>
            <div class="team-content">
              <h3 class="h3">WORK MORE</h3>
              <!--              <b>Maths teacher</b>-->
              <!--              <div class="social">-->
              <!--                <ul>-->
              <!--                  <li><i class="fab fa-facebook-f"></i></li>-->
              <!--                  <li><i class="fab fa-twitter"></i></li>-->
              <!--                  <li><i class="fab fa-instagram"></i></li>-->
              <!--                  <li><i class="fab fa-linkedin-in"></i></li>-->
              <!--                </ul>-->
              <!--              </div>-->
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 sm-6 col-12">
          <div class="team-main">
            <div class="img">
              <img src="assets/images/team/2.png">
            </div>
            <div class="team-content">
              <h3>LEARN MORE</h3>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 sm-6 col-12">
          <div class="team-main">
            <div class="img">
              <img src="assets/images/team/3.png">
            </div>
            <div class="team-content">
              <h3>DO MORE</h3>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 sm-6 col-12">
          <div class="team-main">
            <div class="img">
              <img src="assets/images/team/4.png">
            </div>
            <div class="team-content">
              <h3>BE MORE</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<ngx-footers></ngx-footers>

