<div class="row">
  <div class="col-md-12">
    <div class="col-md-12 col-lg-12">
      <nb-card>
        <nb-card-body>

              <form [formGroup]="studentDetails" (ngSubmit)="onStudentDetailsSubmit()" class="step-container">
                <p class="lorem">
                  Personal Details
                </p>
                <!--                Currently logged in student user will be the one in session-->
                <!--                All that is needed is the application details to be submitted-->
                <div class="form-group">
                  <!--                  List-->
                  <label for="county" class="label">County</label>
                  <nb-select id="county" formControlName="county">
                    <nb-option *ngFor="let value of counties;" [value]="value.id">{{value.name}}</nb-option>
                  </nb-select>
                </div>
                <div class="form-group">
                  <label for="subCounty" class="label">Sub-County</label>
                  <input type="text" nbInput fullWidth formControlName="subCounty" id="subCounty" placeholder="Sub County">
                </div>
                <div class="form-group">
                  <label for="wardName" class="label">Ward Name</label>
                  <input type="text" nbInput fullWidth formControlName="wardName" id="wardName" placeholder="Ward Name">
                </div>
                <div class="form-group">
                  <label for="nimsNumber" class="label">Nims Number</label>
                  <input type="text" nbInput fullWidth formControlName="nimsNumber" id="nimsNumber" placeholder="Nims Number">
                </div>

<!--                <div class="form-group">-->
<!--                  <label for="forNumber" class="label">For Number</label>-->
<!--                  <input type="text" nbInput fullWidth formControlName="forNumber" id="forNumber" placeholder="For Number">-->
<!--                </div>-->
                <div class="form-group">
                  <label for="idNumber" class="label">Id Number</label>
                  <input type="text" nbInput fullWidth formControlName="idNumber" id="idNumber" placeholder="ID Number">
                </div>

              </form>

              <form [formGroup]="familyDetails" (ngSubmit)="onFamilyDetailsSubmit()" class="step-container">
                <p class="lorem">
                  Family and financial status
                </p>
                <div class="form-group">
                  <label for="parentOrGuardianName" class="label">Parent/Guardian Name</label>
                  <input type="text" nbInput fullWidth formControlName="parentOrGuardianName" id="parentOrGuardianName" placeholder="">
                </div>
                <div class="form-group">
                  <label for="parentOrGuardianOccupation" class="label">Parent/Guardian Occupation</label>
                  <input type="text" nbInput fullWidth formControlName="parentOrGuardianOccupation" id="parentOrGuardianOccupation" placeholder="">
                </div>
                <div class="form-group">
                  <label for="parentOrGuardianTelephone" class="label">Parent/Guardian Telephone</label>
                  <input type="text" nbInput fullWidth formControlName="parentOrGuardianTelephone" id="parentOrGuardianTelephone" placeholder="">
                </div>
                <div class="form-group">
                  <label for="familyStatus" class="label">Family Status</label>
                  <nb-select id="familyStatus" formControlName="familyStatus">
                    <nb-option *ngFor="let status of familyStatuses" [value]="status.key">{{status.value}}</nb-option>
                  </nb-select>
                </div>
                <div class="form-group">
                  <label for="grossIncomePerYear" class="label">Gross Income Per Year</label>
                  <input type="number" nbInput fullWidth formControlName="grossIncomePerYear" id="grossIncomePerYear" placeholder="">
                </div>
                <div class="form-group">
                  <label for="birthCertificate" class="label">Birth Certificate (Mandatory) </label>
                  <input type="file" nbInput fullWidth formControlName="birthCertificate" id="birthCertificate"  (change)="selectFile($event, 'birthCertificate')">
                </div>
                <div class="form-group">
                  <label for="familyIncomeDocuments" class="label">Family Income Documents (if any) </label>
                  <input type="file" nbInput fullWidth formControlName="familyIncomeDocuments" id="familyIncomeDocuments"  (change)="selectFile($event, 'familyIncomeDocuments')">
                </div>
                <div class="form-group">
                  <label for="otherStudentDocuments" class="label">Other Documents example medicals  </label>
                  <input type="file" multiple nbInput fullWidth formControlName="otherStudentDocuments" id="otherStudentDocuments" (change)="selectFiles($event)">
                </div>
              </form>


            <!--Start of school details-->



              <form [formGroup]="schoolDetails" (ngSubmit)="onSchoolDetailsSubmit()" class="step-container">
                <p class="lorem">
                  School details
                </p>
                <div class="form-group">
                  <label for="wardName" class="label">Name of School</label>
                  <input type="text" nbInput fullWidth formControlName="schoolName" id="schoolName" placeholder="Name of School">
                </div>

                <div class="form-group">
                  <label for="schoolStatus" class="label">School Status</label>
                  <nb-select id="schoolStatus" formControlName="schoolStatus">
                    <nb-option *ngFor="let status of schoolStatuses" [value]="status.key">{{status.value}}</nb-option>
                  </nb-select>
                </div>
                <!--                Start of school bank account details-->
                <div class="form-group">
                  <label for="schoolAccountNumber" class="label">School Account Number</label>
                  <input type="text" nbInput fullWidth formControlName="schoolAccountNumber" id="schoolAccountNumber" placeholder="School Account Number">
                </div>
                <div class="form-group">
                  <label for="schoolAccountName" class="label">School Account Name</label>
                  <input type="text" nbInput fullWidth formControlName="schoolAccountName" id="schoolAccountName" placeholder="School Account Name">
                </div>
                <div class="form-group">
                  <label for="schoolAccountBankBranch" class="label">School Account Bank Branch</label>
                  <input type="text" nbInput fullWidth formControlName="schoolAccountBankBranch" id="schoolAccountBankBranch" placeholder="School Account Bank Branch">
                </div>

                <!--              End of school details-->
              </form>




          <div>
            <label for="joiningSecondary" class="label">Are you Joining Secondary or Continuing</label>
            <mat-radio-group
              aria-labelledby="joiningSecondary"
              id="joiningSecondary"
              [(ngModel)]="isJoiningSecondaryOrContinuing">
              <mat-radio-button class="example-radio-button" *ngFor="let val of JOINING_OR_CONTINUING"  [value]="val.key">
                {{val.value}}
              </mat-radio-button>
            </mat-radio-group>
<!--            <div>Your favorite season is: {{isJoiningSecondaryOrContinuing}}</div>-->
          </div>

              <form *ngIf="isJoiningSecondaryOrContinuing == 'Joining Secondary' || 'Continuing'" [formGroup]="joiningSecondaryDetails" (ngSubmit)="onJoiningSecondaryDetailsSubmit()" class="step-container">
                <p class="lorem">
                  Joining secondary
                </p>
                <div class="form-group">
                  <label for="totalFees" class="label">Total Fees (per year)</label>
                  <input type="number" nbInput fullWidth formControlName="totalFees" id="totalFees">
                </div>
                <div class="form-group">
                  <label for="benefittedFromFund" class="label">Have you ever benefitted from the county bursary fund</label>
                  <nb-radio-group id="benefittedFromFund" formControlName="benefittedFromFund">
                    <nb-radio  (change)="changeBenefittedFromSecondary($event)"
                               [value]=true>
                      Yes
                    </nb-radio>
                    <nb-radio (change)="changeBenefittedFromSecondary($event)"
                              [value]=false>
                      No
                    </nb-radio>
                  </nb-radio-group>
                </div>
                <div *ngIf="hasBenefittedFromFund" class="form-group">
                  <label for="benefittedFromFundAmount" class="label">Benefitted From Fund amount</label>
                  <input type="number" nbInput fullWidth formControlName="benefittedFromFundAmount" id="benefittedFromFundAmount" placeholder="">
                </div>
                <div class="form-group">
                  <label for="dayOrBoarder" class="label">Are you a Day Scholar or a Boarder?</label>
                  <nb-radio-group id="dayOrBoarder" formControlName="dayOrBoarder" *ngFor="let value of dayOrBoarder">
                    <nb-radio value="{{value.key}}">{{value.value}}</nb-radio>
                  </nb-radio-group>
                </div>
                <div class="form-group">
                  <label for="totalFees" class="label">Outstanding Balance</label>
                  <input type="number" nbInput fullWidth formControlName="outstandingBalance" id="outstandingBalance" placeholder="">
                </div>
                <div class="form-group">
                  <label for="feesStructure" class="label">Fee Structure </label>
                  <input type="file" nbInput fullWidth formControlName="feesStructure" id="feesStructure"  (change)="selectFile($event, 'feesStructure')">
                </div>
              </form>

              <!--              Applies only when they are continuing students-->
              <form [formGroup]="schoolVerificationDetails" (ngSubmit)="onSchoolVerificationDetailsSubmit()" class="step-container">
                <p class="lorem">
                  School verification
                </p>
                <ng-container *ngIf="isJoiningSecondaryOrContinuing === 'Continuing'">
                  <div class="form-group">
                    <label for="academicYear" class="label">Academic Year</label>
                    <input type="number" nbInput fullWidth formControlName="academicYear" id="academicYear" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="position" class="label">Position in Class or Form</label>
                    <input type="number" nbInput fullWidth formControlName="position" id="position" placeholder="">
                  </div>
                  <div class="form-group">
                    <label for="schoolGrade" class="label">Grade</label>
                    <nb-select id="schoolGrade" formControlName="schoolGrade">
                      <nb-option  *ngFor="let grade of schoolGrades" [value]="grade.key">
                        {{grade.value}}
                      </nb-option>
                    </nb-select>
<!--                    <nb-select >-->
<!--                      <nb-option >{{val}}</nb-option>-->
<!--                    </nb-select>-->
                  </div>
                </ng-container>
                <!--              For those joining Form One should have an admission letter-->
                <ng-container *ngIf="isJoiningSecondaryOrContinuing === 'Joining Secondary'">
                  <div class="form-group">
                    <label for="admissionLetter" class="label">Admission Letter</label>
                    <input type="file" nbInput fullWidth formControlName="admissionLetter" id="admissionLetter" (change)="selectFile($event, 'admissionLetter')">
                  </div>
                </ng-container>
              </form>

              <form [formGroup]="studentDeclaration" (ngSubmit)="applicationSubmit()" class="step-container">
                <p class="lorem">
                  Student declaration
                </p>
                <div class="validation-checkboxes">
                  <nb-checkbox formControlName="studentDeclaration" status="success">I declare this is true</nb-checkbox>
                </div>
                <button class="btn-dark" [disabled]="studentDeclarationFormControl.invalid ">Submit</button>
              </form>
          <button class="btn-dark" (click)="populateWithDummy()" >Populate</button>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>

