
<main>
  <ngx-nav></ngx-nav>
  <section class="slider">
    <div class="slider-main">

      <div class="container custom-container">
        <div class="slider-content">
          <div class="slider-head">
            <div class="main-content" style="text-transform: none">
              <h1>broaden your <span>knowledge</span> with tutors</h1>
              <p>The Ministry of Education offers the Bursary to help less fortunate students who cannot afford user fees access education and skills training.
                Consequently, Kenya as a nation following the creation of the county governments put aside a specific amount of money in their budgets to assist the impoverished and still talented kids to enter education through the bursary initiatives.
                In this scheme, the needy and gifted students apply for bursaries, which the county government then distributes to their school accounts.
                This makes it possible for kids in need to obtain education even in difficult circumstances.
              </p>
              <div class="btn-01">
                <a href="#">Contact Us</a>
              </div>
            </div>
          </div>
          <div class="slider-img">
            <img src="assets/images/slider/banner-right-02.png">
          </div>
        </div>
      </div>
      <div class="waveWrapper waveAnimation">
        <div class="waveWrapperInner bgTop">
          <div class="wave waveTop"></div>
        </div>
        <div class="waveWrapperInner bgMiddle">
          <div class="wave waveMiddle"></div>
        </div>
        <div class="waveWrapperInner bgBottom">
          <div class="wave waveBottom"></div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-01">
    <div class="container">
      <div class="col-12">
        <div class="heading">
          <h2>Why Choos Us</h2>
        </div>
      </div>
      <div class="set-wrapper">
        <div class="box">
          <div class="box-items">
            <div class="icon">
              <i class="far fa-book"></i>
            </div>
            <div class="content">
              <h3>VARIETY OF EDUCATIONAL AND TECHNICAL INSTITUTIONS</h3>
              <p>There are many institutions to choose from which offer good services to students all over the country where it's in the classroom
                or gaining technical training.
              </p>
            </div>
          </div>
        </div>

        <div class="box">
          <div class="box-items">
            <div class="icon">
              <i class="far fa-tag"></i>
            </div>
            <div class="content">
              <h3>EASY TO APPLY</h3>
              <p>All you need to do is login, apply and the application will handle the rest.</p>
            </div>
          </div>
        </div>

        <div class="box">
          <div class="box-items">
            <div class="icon">
              <i class="fal fa-calendar-star"></i>
            </div>
            <div class="content">
              <h3>TRACK APPLICATIONS</h3>
              <p>Get notified whenever there is an update to your application.</p>
            </div>
          </div>
        </div>

        <div class="box">
          <div class="box-items">
            <div class="icon">
              <i class="fal fa-chalkboard-teacher"></i>
            </div>
            <div class="content">
              <h3>TALENTED TEACHERS</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas magnam quae voluptatum voluptates asperiores iusto error quo sed nobis</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-02">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading">
            <h2>OUR ACTIVITIES</h2>
          </div>
        </div>

        <div class="wrapper-bg-02">
          <div class="sub-content">
            <div class="sub-items">
              <ul>
                <li>CUSTOM FOOD
                  <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
                </li>
                <li>MUSIC LESSON
                  <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
                </li>
                <li>MANY SPORTS
                  <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
                </li>
                <li>BUS SERVICE
                  <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
                </li>
                <li>EXCURSIONS
                  <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
                </li>
                <li>LANGUAGES
                  <p>Lorem ipsum dolor sit amet, consec adipiscing elit. Pellentesque tincidunt rutrum sapien, sed ultricies diam.</p>
                </li>
              </ul>
            </div>
          </div>

          <div class="sub-content card-01">
            <div class="sub-content">
              <img src="assets/images/2.png">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!--  <section class="bg-03">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-lg-3 col-md-4 col-sm-6 col-6">-->
<!--          <div class="_lk_bg_cd">-->
<!--            <div  class="counting" data-count="1000">90</div>-->
<!--            <h5>TEACHERS</h5>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-lg-3 col-md-4 col-sm-6 col-6">-->
<!--          <div class="_lk_bg_cd">-->
<!--            <div  class="counting" data-count="1000">67</div>-->
<!--            <h5>COURSES</h5>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-lg-3 col-md-4 col-sm-6 col-6">-->
<!--          <div class="_lk_bg_cd">-->
<!--            <div  class="counting" data-count="1000">80</div>-->
<!--            <h5>LESSONS</h5>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="col-lg-3 col-md-4 col-sm-6 col-6">-->
<!--          <div class="_lk_bg_cd">-->
<!--            <div class="counting" data-count="1000">100</div>-->
<!--            <h5>ACTIVITIES</h5>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->

  <section class="bg-04-a">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="heading">
            <h2>OUR TEAM</h2>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 sm-6 col-12">
          <div class="team-main">
            <div class="img">
              <img src="assets/images/team/1.png">
            </div>
            <div class="team-content">
              <h3 class="h3">WORK MORE</h3>
<!--              <b>Maths teacher</b>-->
<!--              <div class="social">-->
<!--                <ul>-->
<!--                  <li><i class="fab fa-facebook-f"></i></li>-->
<!--                  <li><i class="fab fa-twitter"></i></li>-->
<!--                  <li><i class="fab fa-instagram"></i></li>-->
<!--                  <li><i class="fab fa-linkedin-in"></i></li>-->
<!--                </ul>-->
<!--              </div>-->
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 sm-6 col-12">
          <div class="team-main">
            <div class="img">
              <img src="assets/images/team/2.png">
            </div>
            <div class="team-content">
              <h3>LEARN MORE</h3>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 sm-6 col-12">
          <div class="team-main">
            <div class="img">
              <img src="assets/images/team/3.png">
            </div>
            <div class="team-content">
              <h3>DO MORE</h3>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3 sm-6 col-12">
          <div class="team-main">
            <div class="img">
              <img src="assets/images/team/4.png">
            </div>
            <div class="team-content">
              <h3>BE MORE</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<!--  <section class="bg-04">-->
<!--    <div class="container">-->
<!--      <div class="row">-->
<!--        <div class="col-12">-->
<!--          <div class="heading">-->
<!--            <h2>OUR NEWS</h2>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="blog-main-card d-flex">-->
<!--          <article class="blog-sub">-->
<!--            <div class="blog-content">-->
<!--              <img src="assets/images/blog/img-02.jpg">-->
<!--            </div>-->
<!--            <div class="blog-content-section">-->
<!--              <div class="blo-content-title">-->
<!--                <h4>Capitalize on low hanging fruit to identify ballpark</h4>-->
<!--                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores aut praesentium-->
<!--                  facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in blanditiis, nemo fugit animi assumenda.</p>-->
<!--              </div>-->
<!--              <div class="blog-admin">-->
<!--                <ol>-->
<!--                  <li><i class="fal fa-user-tie"></i> By Admin</li>-->
<!--                  <li><i class="fal fa-calendar-alt"></i> july 28, 2020</li>-->
<!--                </ol>-->
<!--              </div>-->
<!--            </div>-->
<!--          </article>-->

<!--          <article class="blog-sub">-->
<!--            <div class="blog-content">-->
<!--              <img src="assets/images/blog/img-01.jpg">-->
<!--            </div>-->
<!--            <div class="blog-content-section">-->
<!--              <div class="blo-content-title">-->
<!--                <h4>Capitalize on low hanging fruit to identify ballpark</h4>-->
<!--                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores aut praesentium-->
<!--                  facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in blanditiis, nemo fugit animi assumenda.</p>-->
<!--              </div>-->
<!--              <div class="blog-admin">-->
<!--                <ol>-->
<!--                  <li><i class="fal fa-user-tie"></i> By Admin</li>-->
<!--                  <li><i class="fal fa-calendar-alt"></i> july 28, 2020</li>-->
<!--                </ol>-->
<!--              </div>-->
<!--            </div>-->
<!--          </article>-->

<!--          <article class="blog-sub">-->
<!--            <div class="blog-content">-->
<!--              <img src="assets/images/blog/img-03.jpg">-->
<!--            </div>-->
<!--            <div class="blog-content-section">-->
<!--              <div class="blo-content-title">-->
<!--                <h4>Capitalize on low hanging fruit to identify ballpark</h4>-->
<!--                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque at numquam, asperiores aut praesentium-->
<!--                  facilis ratione! Voluptatibus neque dignissimos ipsa atque veniam sint omnis in blanditiis, nemo fugit animi assumenda.</p>-->
<!--              </div>-->
<!--              <div class="blog-admin">-->
<!--                <ol>-->
<!--                  <li><i class="fal fa-user-tie"></i> By Admin</li>-->
<!--                  <li><i class="fal fa-calendar-alt"></i> july 28, 2020</li>-->
<!--                </ol>-->
<!--              </div>-->
<!--            </div>-->
<!--          </article>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
</main>
<ngx-footers></ngx-footers>
