<body>
<main>
  <ngx-nav></ngx-nav>
  <section class="abt-01">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="_head_01">
            <h2>How to Apply</h2>
            <p>Home<i class="fal fa-angle-double-right"></i><span>How to Apply</span></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--  ************************* About Us Starts Here ************************** -->

  <div class="about-us container-fluid">
    <div class="container">

      <div class="row natur-row no-margin w-100">
        <div class="text-part col-md-12">
          <h2 class="h2">Application Process</h2>

          <p><span>1. </span>This bursary programme by the County
            government are accessed by filling application forms which could be found by downloading them from
            the official websites of county government which the applicants
            belong or by visiting the County government offices in your county or any Chief/Sub-Chief’s office.</p>
          <p><span>2. </span>Applicants should fully fill the application forms
            and they require the help of a guardian or parent. Some of the details required include your full names,
            Name of school, Your registration/ Admission number, the amount of fees you want to be paid, your
            Parents/Guardian name, their Identity Card Number, place of residence within that particular County, the
            Parent/Guardian Signature and the applicants’ results lip/report since they target the needy and bright
            students in the County. </p>
          <p><span>3. </span>After filling the forms, you need various signatures from the Government officials such as
            the Chief, Sub-Chief, Headmen and then from their Priest/Pastor/Sheikh. </p>
          <p><span>4. </span>Application forms are then submitted after the full filling and ascertained that the
            information provided is of highest percentage of truth to the County government or to the office of the area
            Chief/Sub- chief who will then take them to the appropriate offices.</p>

          <p>The application forms would be processed within a stipulated time frame and after this period, the successful
            applicants would have their fees paid in by the County government. Applicants can enquire if their
            applications were successful by visiting their local area Chief’s office and ask for the successful
            applications forms register in which their names would be presented if they were successful. </p>
          <p>These bursaries have been able to see off the needy students get education which will definitely brighten
            their future and lead to a prosperous country. These funds are provided after every four months and applicants
            can apply when the forms are availed by the County government officials to be able to be awarded and continue
            with their education.</p>
          <h2 class="h2">Who can apply</h2>
          <p><span>1. </span>Must be Kenyan with an active NIMS number.</p>
          <p><span>2. </span>Must be either in Primary School or Secondary School</p>
          <p><span>3. </span>Assessed by social welfare officers.</p>
        </div>


        <!--        <div class="image-part col-md-6">-->
        <!--          <img src="assets/images/about.jpg" alt="">-->
        <!--        </div>-->
      </div>
    </div>
  </div>
</main>
<ngx-footers></ngx-footers>

