<nb-card size="medium">
  <nb-card-body>
    <div>
      <div>
        <h6 class="text-info">Name</h6>
        <div>      <p>{{ user.firstName+ ' ' + user.middleName+ ' ' + user.lastName}}</p>

        </div>
      </div>
      <div>
        <h6 class="text-info">Email</h6>
        <div> <p>{{ user.email}}</p>
        </div>
      </div>
      <div>
        <h6 class="text-info">Telephone</h6>
        <div> <p>{{ user.telephone}}</p>
        </div>
      </div>
      <div>
        <h6 class="text-info">Date Of Birth</h6>
        <div><p>{{ user.dateOfBirth}}</p></div>
      </div>

      <div>
        <h6 class="text-info">Gender</h6>
        <div><p>{{ user.dateOfBirth}}</p></div>
      </div>

      <div>
        <h6 class="text-info">>User Type</h6>
        <div><p>{{ user.userType}}</p></div>
      </div>
    </div>
<!--    <div class="progress-info" *ngFor="let item of progressInfoData">-->
<!--      <div class="subtitle">{{ item.title }}</div>-->
<!--      <div class="h3">{{ item.value | ngxNumberWithCommas }}</div>-->
<!--      <nb-progress-bar [value]="item.activeProgress"></nb-progress-bar>-->
<!--      <div class="caption description">-->
<!--        <bdi>{{ item.description }}</bdi>-->
<!--      </div>-->
<!--    </div>-->
  </nb-card-body>
</nb-card>
