<header>
  <div class="main-nav">
    <div class="container">
      <div class="row">
        <div class="menu-toggle"></div>
        <div class="logo">
          <img src="assets/images/logo-01.png">
        </div>

        <div class="my-nav">
          <div class="menu">
            <ul>
              <li><a routerLink="/home">Home</a></li>
              <li><a routerLink="/about">About Us</a></li>
              <li><a routerLink="/applying">How to apply</a></li>
              <li><a routerLink="/contacts">Contact Us</a></li>
              <li><a routerLink="/auth/login">Login</a></li>
              <li><a routerLink="/auth/register">Register</a></li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
